/*-------- 26. Login register style ---------*/

.login-register-wrap {
    h3 {
        font-size: 24px;
        font-weight: 700;
        margin: 0;

        i {
            margin-right: 3px;
        }
    }

    .login-register-form {
        margin: 30px 0 0;

        @media #{$xs-layout} {
            margin: 10px 0 0;
        }
    }

    .header {
        margin: 1.5em auto;
    }

    .btn-link, .btn-add, .btn-logout {
        font-size: 14px;
        color: $theme-color;
        padding: 0;
    }

    .form-field {
        margin: 0 0 21px;

        label {
            font-size: 16px;

            span {
                color: red;
            }
        }

        input {
            background: transparent;
            border: 1px solid #CDCDCD;
            height: 50px;
            padding: 5px 10px;

            &:focus {
                border: 1px solid #262626;
            }
        }
    }

    .login-register-form {
        a {
            font-size: 14px;
            color: $theme-color;

            &:hover {
                text-decoration: underline;
            }
        }

        p {
            color: #535353;
            font-size: 14px;
            margin: 0 0 16px;
        }
    }

    .shipping-addresses-list .list-group-item .buttons {
        position: absolute;
        right: 1em;
        top: 1em;
    }

    @media #{$lg-layout} {
        &.mr-70 {
            margin-right: 0;
        }
    }
    @media #{$md-layout} {
        &.mr-70 {
            margin-right: 0;
        }
    }
    @media #{$xs-layout} {
        &.mr-70 {
            margin-right: 0;
        }
        &.register-wrap {
            margin-top: 30px;
        }
    }

    .form-controls {
        margin-bottom: 2em;

        .btn-link:not(:first-child) {
            margin-left: 30px;
        }

        button {
            border: none;
            background-color: #262626;
            color: #fff;
            font-size: 16px;
            padding: 17px 50px 20px;
            line-height: 1;
            border-radius: 0;

            @media #{$xs-layout} {
                padding: 14px 30px 17px;
            }

            &:hover {
                background-color: $theme-color;
            }
        }

        .btn-submit:not(:first-child) {
            float: right;
        }
    }

    .additional-controls .btn {
        display: block;
        margin: .5em auto 0 auto;
        padding: .5em 0;
        color: #FFF;
        border-radius: 0;
        line-height: 2;
        font-size: 12pt;

        &.btn-google {
            background: #DE5246;
        }

        &.btn-facebook {
            background: #3b5998;
        }
    }
}

//Order History
.order-actions{
    a {
        margin-left: 1.5rem;
        margin-right: 1.5rem;
    }
}