.color-swatch, .text-swatch {
  .swatch {
    display: block;
  }

  input[type=checkbox] {
    display: none;
  }
}

.color-swatch {
  .swatch {
    width: 25px;
    height: 25px;
    border: solid 2px #FFF;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
  }

  input[type=checkbox]:checked + .swatch {
    -moz-box-shadow: 0 0 0 1px #000;
    -webkit-box-shadow: 0 0 0 1px #000;
    box-shadow: 0 0 0 1px #000;
  }
}

.text-swatch {
  .swatch {
    padding: 11px 26px;
    line-height: 1;
    margin-bottom: 10px;
    color: #535353;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }

  input[type=checkbox]:checked + .swatch {
    background-color: #fc4f4f;
    color: #fff;
    border: 1px solid #fc4f4f;
  }
}